.appContent{
	width: 100vw;
	height: 100vh;
	background-color: #fafafa;


	.configSettingContent{  
		height: 100vh;  


		// border:2px solid green;
		// justify-content:center;
		// align-items:center;
	}


	.generatorContent{  
		height: 100vh; 
		overflow: auto;
	}

}


