
<div nz-row class="appContent" >
	<div nz-col nzSpan="8" class="configSettingContent" nzType="flex" nzJustify="center" nzAlign="center">
		<app-config-setting (emitSpot)="getGenResultHandler($event)"></app-config-setting>
	</div>
	<div nz-col nzSpan="16" class="generatorContent">
		<app-display-code [inputTextFromAppComp]="genResult"></app-display-code>
		<!-- <app-generator [_genResult]="genResult" ></app-generator> -->
	</div>
</div>




<!-- NG-ZORRO -->
<!-- <a href="https://github.com/NG-ZORRO/ng-zorro-antd" target="_blank" style="display: flex;align-items: center;justify-content: center;height: 100%;width: 100%;">
  <img height="300" src="https://img.alicdn.com/tfs/TB1NvvIwTtYBeNjy1XdXXXXyVXa-89-131.svg">
</a> -->


<!-- <app-generator></app-generator> -->