.appContent{
	width: 100vw;
	height: 100vh;
	background-color: #fafafa;


	.configSettingContent{  
		height: 100vh;   
	}


	.displayCodeContent{  
		height: 100vh; 
		overflow: auto;
	}

}


